body.job-list .wrapper {
  max-width: 1300px;
  margin: 0em auto;
}
body.job-list .wrapper .card {
  background-color: #f7f7f7;
}
body.job-list .job-view {
  background-color: #e3ebfd;
}
body.job-list .fs-custom {
  font-size: 18px;
}
