* {
  font-family: calibri;
}

body {
  background-position: center;
  background-color: #e3ebfd;
}
body .wrapper {
  width: 95%;
  max-width: 1300px;
  margin: auto;
}
body .wrapper .form_container {
  max-width: 500px;
  background: white;
  border-radius: 0.3em;
  padding: 1em;
}
body .wrapper .form_container h1 {
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 0.5em;
}
body .wrapper .form_container hr {
  height: 2px;
  background: lightgray;
  border: none;
  margin: 0px;
}
body .wrapper .form_container .password-toggle {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .wrapper .form_container .password-toggle label {
  cursor: pointer;
}
body .wrapper .form_container .password-toggle:hover {
  opacity: 50%;
}
body .wrapper .form_container .item_last {
  width: 90%;
  margin: 1em auto;
}
body .wrapper .form_container .item_last label {
  opacity: 70%;
}
body .wrapper .form_container .item_last label a {
  text-decoration: none;
  color: steelblue;
  font-weight: bold;
}
body .wrapper .form_container .item_last input {
  display: block;
  margin: 1em 0em auto auto;
  padding: 1em 2em;
  font-size: 16px;
  background: steelblue;
  border: none;
  outline: none;
  color: white;
  border-radius: 5em;
  cursor: pointer;
}
body .wrapper .form_container .item_last input:hover {
  background: #5faeee;
}
