.jobseeker_nav {
  background-color: steelblue;
  z-index: 1;
}
.jobseeker_nav .wrapper {
  max-width: 1300px;
  margin: auto;
}
.jobseeker_nav .wrapper .item {
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}
.jobseeker_nav .wrapper .item:hover {
  background: #a8b4dd;
  transition: 0.4s;
}
.jobseeker_nav .wrapper .item label {
  color: #e4f1fa;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}
.jobseeker_nav .wrapper .item label i {
  margin-right: 0.5em;
  cursor: pointer;
}

@media screen and (min-width: 857px) {
  .jobseeker_nav .wrapper .item {
    padding: 0.8em 1em;
  }
  .jobseeker_nav .wrapper .last {
    display: inline;
    float: right;
    margin: auto 0em auto auto !important;
  }
}
