.signup {
  /* temporary background  */
  background-color: #e3ebfd;
  background-repeat: no-repeat;
}

.signup .wrapper {
  max-width: 1300px;
  width: 95%;
  margin: auto;
}

.signup .form_container {
  padding-top: 1em;
  width: 100%;
  max-width: 500px;
}

.signup .title h1 {
  margin-bottom: 0px;
  font-size: 1.5em;
}

.signup .title i {
  margin-right: 0.5em;
}

.signup .title hr {
  height: 0.1em;
  background-color: white;
  border: none;
}

.signup form {
  background: white;
  border-radius: 0.3em;
  padding: 1em;
}

.signup #show {
  display: none;
}

.signup .item div.label {
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  border: none;
  color: white;
  padding: 0.5em;
}

.signup .item .label label {
  margin-left: 0.5em;
  font-size: 12px;
}

.signup form .item_last {
  width: 90%;
  margin: 1em auto;
}

.signup .item_last input {
  padding: 1em 2em;
  /* background: rgb(223, 37, 115); */
  background: steelblue;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  border-radius: 5em;
  cursor: pointer;
  margin: 0.5em 0px auto auto;
  display: block;
}

.signup .item_last input:hover {
  /* background: rgb(218, 84, 140); */
  background: #5ba8e7;
}

.signup .item_last label {
  opacity: 70%;
}

.signup .item_last a {
  text-decoration: none;
  color: steelblue;
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  .signup .item .label label {
    font-size: 16px;
  }

  .signup .input input {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  .signup form .item {
    grid-template-columns: 1.5fr 3fr;
  }
}
