
body.password-reset{
    // background: steelblue;
    // background: url('../image/bgpattern.png');
    background-color: #e3ebfd;
    // margin-top: 74px;


    .wrapper{
        width: 95%;
        margin: auto;
        max-width: 1300px;

        .pr-form{
            background: white;
            border-radius: .3em;
            // box-shadow: 0em 0em 5px 3px rgba(71, 71, 71, 0.247);
            margin-top: 1em;
            padding: 1em;
            max-width: 500px;

            .password_toggle{
                cursor: pointer;
            }
            .password_input{
                #show{
                    display: none;
                }
                i{
                    // margin: auto 0em auto auto;
                    // float: right;
                    cursor: pointer;
                    &:hover{
                        opacity: 75%;
                    }
                }
            }

        }
    }

}