.bg-home-1{
    background-image: url('../image/home-4.jpg');
}
.bg-home-2{
    background-image: url('../image/home-2.jpg');
}
// .home{
//     font-family: 'Myriad Pro Light';
//     margin: 0em;

//     .home-bg{
//         // background-image: url('../image/bgpattern.png');
//         // background-color: steelblue;
//         .wrapper-1{
//             // background-color: green;
//             display: block;
//             max-width: 1300px;
//             margin: auto;
//             z-index: 0;
//         }
//     }
//     .sample{
//         background-color: aqua;
//     }
// }
// .dashboard{
//     // width: 100%;
//     background: rgb(61, 61, 61);

// }
.z2{
    z-index: 2;
}
.z3{
    z-index: 3;
}
.xxx{
    z-index: 0;
}