
body.seeker-home{
    // background: url('../image/bgpattern.png');

    .profile-hero{
        background: rgb(23, 23, 132) url('../image/website/liquid-cheese.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    // background-color: #e3ebfd;

    .wrapper{
        max-width: 1300px;
        margin: auto;
    }

    
}
