
#admin-dashboard{
    .dashboard-head{
        h1{
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(34, 34, 34);
        }
    }
    .user-charts{
        background: white;
        border-radius: 5px;
        padding: 1rem;
        
        div:first-child{
            h1{
                font-weight: bold;
            }
        }
    }
    .charts{
        .chart{
            height: 500px;  
        }
    }
 
}
     

